{
    "rules": {
        "array-callback-return": "error",
        "arrow-parens": 0,
        "arrow-spacing": ["error", {"before": true, "after": true}],
        "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
        "callback-return": "error",
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", {"before": false, "after": true}],
        "complexity": ["error", 10],
        "curly": "error",
        "dot-location": ["error", "property"],
        "eqeqeq": "error",
        "generator-star-spacing": ["error", "after"],
        "guard-for-in": 0,
        "handle-callback-err": "error",
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "max-depth": ["error", 4],
        "max-len": ["error", 120, 4],
        "max-params": ["error", 3],
        "new-parens": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-implicit-coercion": "error",
        "no-irregular-whitespace": "error",
        "no-loop-func": "error",
        "no-mixed-requires": 0,
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-require": "error",
        "no-process-exit": "error",
        "no-sequences": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-sync": "error",
        "no-trailing-spaces": "error",
        "no-unsafe-finally": "error",
        "no-use-before-define": ["error", {"functions": false}],
        "no-useless-call": "error",
        "no-useless-computed-key": "error",
        "no-useless-concat": "error",
        "no-useless-constructor": "error",
        "no-useless-escape": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "no-void": "error",
        "no-warning-comments": "error",
        "no-with": "error",
        "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}],
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "quotes": ["error", "single", "avoid-escape"],
        "radix": "error",
        "require-yield": "error",
        "semi": ["error", "always"],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", "never"],
        "strict": "error",
        "wrap-iife": "error",
        "yield-star-spacing": ["error", "after"]
    },
    "globals": {
        "expectToReject": false,
        "fail": false,
        "willResolve": false,
        "document": false,
        "AJS": false
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jasmine": true
    },
    "parser": "babel-eslint", 
    "parserOptions": {
           "ecmaVersion": 6,
           "sourceType": "module",
           "ecmaFeatures": {
               "jsx": true
           }
      },
       
    
    "extends": "eslint:recommended"
}
