body {
  background-color: #c84842 !important;
}
.miniCart {
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  float: right;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 81%;
}
.productDetail {
  background-color: #FFF;
}
.error {
  padding: 1px;
  border: 2px #F00 solid !important;
  background-color: #000;
}

.productVariations {
  padding: 5px;
}

.productVariations .item {
  border: 1px #000 solid;
  background-color: #CCC;
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-left: 1px !important;
  margin-right: 1px;
}

.productVariations .item.selected {
  border: 2px #00F solid;
}
